# Copie ce fichier en .env et adapte les valeurs

DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_ROOT_PASSWORD=rootpassword

WP_PORT=8080
WP_TITLE=Mon Site WordPress
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin
WP_ADMIN_EMAIL=admin@localhost.dev
WP_URL=http://localhost:8080

PMA_PORT=8081
MAILHOG_PORT=8025
